{% extends 'myApp/base.html' %}

{% block content %}

<main id="main" class="main">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Update Ticket</h5>

      {% if form.errors %}

        <!-- {% for field in form %}
          {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{field.name}} {{error|escape}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        {% endfor %} -->

        {% for error in form.non_field_errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{error|escape}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
        
      {% endif %}

      <!-- Floating Labels Form -->
      <form class="row g-3" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <select class="form-select" id="floatingSelect" name="issue_type" aria-label="State">
              <option value="Hardware"  {% if ticket.issue_type == "Hardware" %} selected {% endif %}>Hardware</option>
              <option value="Network" {% if ticket.issue_type == "Network" %} selected {% endif %}>Network</option>
              <option value="Portal Access" {% if ticket.issue_type == "Portal Access" %} selected {% endif %}>Portal Access</option>
              <option value="Configuration" {% if ticket.issue_type == "Configuration" %} selected {% endif %}>Configuration</option>
              <option value="Installation" {% if ticket.issue_type == "Installation" %} selected {% endif %}>Installation</option>
            </select>
            <label for="floatingSelect">Issue Type</label>
            <div class="text-danger"><span style="margin-left: 10px;">{{form.errors.issue_type|striptags}}</span></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" name="issue_sub_type" placeholder="Issue Sub Type" value="{{ ticket.issue_sub_type }}">
            <label for="floatingEmail">Issue Sub Type</label>
            <div class="text-danger"><span style="margin-left: 10px;">{{form.errors.issue_sub_type|striptags}}</span></div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea class="form-control" name="description" placeholder="Description" id="floatingTextarea"
              style="height: 100px;">{{ ticket.description }}</textarea>
            <label for="floatingTextarea">Description</label>
            <div class="text-danger"><span style="margin-left: 10px;">{{form.errors.description|striptags}}</span></div>
          </div>
        </div>
        <div class="col-md-6">
          <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Priority</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="priority" id="gridRadios1" value="High" {% if ticket.priority == "High" %} checked {% endif %}>
                <label class="form-check-label" for="gridRadios1">
                  High
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="priority" id="gridRadios2" value="Medium" {% if ticket.priority == "Medium" %} checked {% endif %}>
                <label class="form-check-label" for="gridRadios2">
                  Medium
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="priority" id="gridRadios3" value="Low" {% if ticket.priority == "Low" %} checked {% endif %}>
                <label class="form-check-label" for="gridRadios3">
                  Low
                </label>
              </div>
            </div>
          </fieldset>
        </div>


        <div class="row mb-3">
          <label for="inputNumber" class="col-sm-2 col-form-label">Image Upload</label>
          <div class="col-sm-10">
            <input class="form-control" type="file" id="formFile" name="image">
            <div class="text-danger"><span style="margin-left: 10px;">{{form.errors.image|striptags}}</span></div>

          </div>
        </div>


        <div class="text-center">
          <button type="submit" class="btn btn-primary">Update</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
      </form><!-- End floating Labels Form -->

    </div>
  </div>
</main>
{% endblock %}